

.serviceWrap {
    position: relative;
    top: 15%;
    left: 23%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 50%;
    height: 600px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.serviceHeader{
    display: flex;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
}
.serviceHeader h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    font-size: 20px;
}
.serviceHeader a{
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    font-size: 16px;
    color: #000;
}
.serviceContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.type{
    width: 60px;
}
.cut,.perm,.feverPerm,.color,.clinic{
    display: flex;
    align-items: center;
    width: 50%;
    border-bottom: 1px solid rgba(170,170,170,.2);
    margin-top: 10px;
}
.cutType,.permType,.feverPermType,.colorType,.clinicType {
    width: 100px;
    text-align: left;
    line-height: 30px;

}
.cutCost,.permCost,.feverPermCost,.colorCost,.clinicCost{
    line-height: 30px;
}
.permType p,.feverPermCost p{
    text-align: left;
}
.aaa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bbb{
    width: 70%;
}
.serviceItems{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cut{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
