html, body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
#calendar{
    position: relative;
    top: 60px;
}
/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
.fc-header-toolbar {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}