#designer_salary_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 60px;
}
#designer_salary_in_wrap{
    width: 1372px;
    height: 763px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.salary_title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
}
.salary_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.salary_content_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.salary_text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.salary_res{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.salary_res_text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.salary_border{
    border-bottom: 1px solid rgba(0,0,0,20%);
}
a{
    color: black;
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    gap: 20px;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.page-numbers{
    display: flex;
    gap: 20px;
}
.page_next_bt, .page_prev_bt{
    border: none;
    background: none;
}