*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_out_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 10%);
}
#login_wrap{
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
}
#login_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{ width: 100%}
#login_logo{
    width: 100%;
    position: relative;
    left: 40px;
    bottom: 30px;
}
#login_input_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.id, .pw{
    width: 55%;
    padding-left: 15px;
    padding-top: 5px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 50%);
    font-size: 20px;
}
#login_input_box button{
    width: 55%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 20%);
    font-size: 25px;
}
.error-msg{
    color: red;
    position: absolute;
    bottom: 210px;
}