a{
    text-decoration: none;
}
#side{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #071228;
    opacity: 90%;
    position: relative;
}
#sideBar{
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_bar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #ffffff solid;
}
.homeTitle{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}
.homeTitle i{
    margin-left: 10px;
}

.inventoryTitle, .designerTitle {
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
}
.inventoryList,.designerList{
    margin-left: 10px;
}
.inventoryPlus,.designerPlus{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}


#sideBar span{color: #ffffff;}
#sideBar .bi{color: #ffffff;}
.sub_menu{
    display: none;
    position: relative;
    height: 91px;
}
.customer_sub_menu{
    height: 31px;
}
.shop_sub_menu{
    height: 31px;
}
.menu_bar:hover, .sub_menu:hover{
    cursor: pointer;
}
.blink{
    width: 100%;
    height: 50px;
}
.logo{
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
}
img{ width: 100%}
.top_text{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #ffffff solid;
}


.subList{
    position: relative;
    display: flex;
    justify-content: end;
    border-bottom: 1px #ffffff solid;
    padding-right: 15px;
    padding-bottom: 3px;
}
.invenList,.scheduleList,.cusList,.serviceList{top: 5px; position: relative}
.buyList,.salaryList,.useList{top: 7px;}
.sortList,.commuteList{top: 10px;}
.menu_out_box{
    width: 100%;
    height: 50px;
    border-bottom: 1px #ffffff solid;
}


.dot{
    padding-right: 5px;
    position: relative;
    bottom: 3px;
    display: none;
    font-size: 10px;
}
.home_border, .inven_border, .designer_border, .sales_border, .customer_border, .shop_border{
    width: 15px;
    height: 50px;
    position: absolute;
    background-color: blue;
    right: 0;
    z-index: -1;
    display: none;
}
.bi-dash{
    display: none;
}

.salesTitle{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.salesTitle i, .customerTitle{
    margin-left: 10px;
}
.customerTitle, .shopTitle{
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
}
.customerPlus .shopPlus{
    width: 10%;
}
.shopTitle{
    margin-left: 10px;
}