
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{fragment/basic}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/designer/designerReg.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/javascript/designerReg.js}"></script>
</th:block>

<div layout:fragment="content">
    <div id="designer_reg_wrap">
        <div id="designer_reg_box">
            <div class="designer_reg_title">
                <span>디자이너 등록</span>
            </div>
            <form id="designerForm" method="POST" action="/designer/reg" th:object="${designerDto}" class="form_reg">
                <div class="designer_reg_content_box">
                    <div class="designer_reg_content">
                        <div class="designer_reg_left">
                            <span>이름</span>
                        </div>
                        <div class="designer_reg_right">
                            <input type="text" placeholder="이름 입력" th:field="*{name}">
                        </div>
                        <span class="name_dng" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="designer_reg_content">
                        <div class="designer_reg_left">
                            <span>이메일</span>
                        </div>
                        <div class="designer_reg_right">
                            <input type="text" placeholder="이메일 입력" th:field="*{email}">
                        </div>
                        <span class="email_dng" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                    <div class="designer_reg_content">
                        <div class="designer_reg_left">
                            <span>연락처</span>
                        </div>
                        <div class="designer_reg_right">
                            <input type="text" placeholder="전화번호 입력 (- 제외)" th:field="*{tel}" oninput="formatInputValue('tel')" maxlength="13">
                        </div>
                        <span class="tel_dng" th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></span>
                    </div>
                    <div class="designer_reg_content">
                        <div class="designer_reg_left">
                            <span>계획 근로시간   (10분 단위)</span>
                        </div>
                        <div class="designer_reg_right">
                            <span class="morningText">00:00 ~ 11:50</span>
                            <input type="time" th:field="*{morningTime}" step="600" min="00:00" max="11:50">
                            <span class="afterText">12:00 ~ 23:50</span>
                            <input type="time" th:field="*{afterTime}" step="600" min="12:00" max="23:50">
                        </div>
                        <span class="time_dng" th:if="${#fields.hasErrors('morningTime')}" th:errors="*{morningTime}"></span>
                    </div>
                    <div class="designer_reg_content">
                        <div class="designer_reg_left">
                            <span>등록일</span>
                        </div>
                        <div class="designer_reg_right">
                            <input type="date" th:field="*{date}">
                        </div>
                        <span class="date_dng" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
                    </div>
                    <div class="designer_reg_content">
                        <div class="designer_reg_left">
                            <span>월급</span>
                        </div>
                        <div class="designer_reg_right">
                            <input type="text" placeholder="월급 입력" th:field="*{sal}" maxlength="9" oninput="formatInputValue('sal')">
                        </div>
                        <p class="sal_dng" th:if="${#fields.hasErrors('sal')}" th:errors="*{sal}"></p>
                    </div>
                    <div class="designer_reg_content">
                        <div class="designer_reg_left">
                            <span>월급 지급일</span>
                        </div>
                        <div class="designer_reg_right">
                            <input type="date" th:field="*{salDate}">
                        </div>
                        <span class="sal_date_reg" th:if="${#fields.hasErrors('salDate')}" th:errors="*{salDate}"></span>
                    </div>
                    <div class="designer_reg_content">
                        <div class="designer_reg_left">
                            <span>휴무</span>
                        </div>
                        <div class="designer_reg_right_date">
                            <input type="checkbox" class="btn-check dayBt" id="mondayCheck" value="월" autocomplete="off" name="dayOffList" th:checked="${designerDto != null && designerDto.dayOffList != null && designerDto.dayOffList.contains('월')}">
                            <label class="btn btn-outline-secondary" for="mondayCheck">월</label>
                            <input type="checkbox" class="btn-check dayBt" id="tuesdayCheck" value="화" autocomplete="off" name="dayOffList" th:checked="${designerDto != null && designerDto.dayOffList != null && designerDto.dayOffList.contains('화')}">
                            <label class="btn btn-outline-secondary" for="tuesdayCheck">화</label>
                            <input type="checkbox" class="btn-check dayBt" id="wednesdayCheck" value="수" autocomplete="off" name="dayOffList" th:checked="${designerDto != null && designerDto.dayOffList != null && designerDto.dayOffList.contains('수')}">
                            <label class="btn btn-outline-secondary" for="wednesdayCheck">수</label>
                            <input type="checkbox" class="btn-check dayBt" id="thursdayCheck" value="목" autocomplete="off" name="dayOffList" th:checked="${designerDto != null && designerDto.dayOffList != null && designerDto.dayOffList.contains('목')}">
                            <label class="btn btn-outline-secondary" for="thursdayCheck">목</label>
                            <input type="checkbox" class="btn-check dayBt" id="fridayCheck" value="금" autocomplete="off" name="dayOffList" th:checked="${designerDto != null && designerDto.dayOffList != null && designerDto.dayOffList.contains('금')}">
                            <label class="btn btn-outline-secondary" for="fridayCheck">금</label>
                            <input type="checkbox" class="btn-check dayBt" id="saturdayCheck" value="토" autocomplete="off" name="dayOffList" th:checked="${designerDto != null && designerDto.dayOffList != null && designerDto.dayOffList.contains('토')}">
                            <label class="btn btn-outline-secondary" for="saturdayCheck">토</label>
                            <input type="checkbox" class="btn-check dayBt" id="sundayCheck" value="일" autocomplete="off" name="dayOffList" th:checked="${designerDto != null && designerDto.dayOffList != null && designerDto.dayOffList.contains('일')}">
                            <label class="btn btn-outline-secondary" for="sundayCheck">일</label>
                        </div>
                    </div>
                </div>
                <input type="hidden" th:field="*{dayOffList}" th:value="${designerDto.dayOffList}" >
                <div class="designer_bt_box">
                    <a href="/designer">
                        <button type="submit" class="btn btn-success pushBt" onclick="submitForm()">등록하기</button>
                    </a>
                    <a href="/designer">
                        <button type="button" class="btn btn-danger cansBt">취소하기</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

</html>