li{
    list-style: none;
}
.cusInfo {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 48%;
    transform: translateY(-48%);
    left: 10%;
}
.cusInfoHeader{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid rgba(170,170,170,.2);
}
.cusInfoBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #A9F28F;
    color: #fff;
}
.cusInfoBtn a{
    color: #000;
}
.cusInfoList {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.cusInfoList th, .cusInfoList td {
    padding: 10px;
}
.cusInfoList td {
    text-align: center;
}
.cusInfoList tr>td>a{
    color: #000;
}
.cusNum{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cusCount{
    padding: 15px;
}
.cusCount span:first-child{
    margin-left: 0;
}
.cusCount span{
    margin-left: 10px;
}
.cusBtn{
    background: #fff;
    border: none;
}
.pagination{
    width: 100%;
    margin-top: 30px;
}
.pagination ul{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}
.pagination ul>li{
    height: 100%;
}
.pagination ul>li>a{
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}
.active {
    color: blue;
}