
.customer-box {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    position: relative;
    top: 30%;
    left: 10%;
}
.customer-box-title{
    width: 100%;
    display: flex;
    align-items: center;
}

.customer-box-title h3{
    width: 90%;
}
.customer-box h2 {
    width: 100%;
    border-bottom: 1px solid rgba(170,170,170,.2);

}
.customerList {
    width: 100%;
    border-collapse: collapse;
}
.customerList th, .customerList td {
    border: none;
    text-align: center;
    padding: 8px;
}
